@import "bootstrap";

/* mixins, variables, etc. */

$gray-lighter: #eee;

$gray-medium-light: #eaeaea;
$gray-light-light: #f0f0f0;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  padding-bottom: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* main page */

.gallery {
  text-align: center;

  a{
    font-size: 0;
  }

  figure {
    width: 440px;
    height: 440px;
    line-height: 400px;
    margin: 20px 20px 20px 20px;
    background: transparent;
    border: 20px solid transparent;
    display: inline-block;
    text-align: center;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 0 10px #888; 
    -moz-box-shadow: 0 0 10px #888;
    -o-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;

    -webkit-transition: all 0.25s ease; 
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
}

figure:hover {
  -webkit-box-shadow: 0 0 10px black; 
  -moz-box-shadow: 0 0 10px black;
  -o-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}

figure:focus {
  -webkit-box-shadow: 0 0 10px black;
  -moz-box-shadow: 0 0 10px black;
  -o-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -0.7px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  margin-top: 10px;
}

#logo {
  padding-left: 0px;
  text-align: left;
  margin: auto;
  font-size: 1.7em;
  color: $gray-light-light;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.rsslogo {
  display: block;
  position: relative;
  float: left;
  min-height:16px; 
  min-width:16px;
  max-height:16px; 
  max-width:16px;
  margin-top:15px;
  margin-left:15px;
}

/* header */

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover{
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px ;
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}
/* forms */



input:not([type="submit"]), textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  padding: 6px;
  @include box_sizing;
}

input {
  height: auto  !important;
} 

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .has-error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}

/* pagination */

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > ul > li {
  display: inline;
}
.pagination > ul > li > a,
.pagination > ul > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #428bca;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > ul > li:first-child > a,
.pagination > ul > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > ul > li:last-child > a,
.pagination > ul > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > ul > li > a:hover,
.pagination > ul > li > span:hover,
.pagination > ul > li > a:focus,
.pagination > ul > li > span:focus {
  color: #2a6496;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > ul >.active > a,
.pagination > ul >.active > span,
.pagination > ul >.active > a:hover,
.pagination > ul >.active > span:hover,
.pagination > ul >.active > a:focus,
.pagination > ul >.active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}
.pagination > ul >.disabled > span,
.pagination > ul >.disabled > span:hover,
.pagination > ul >.disabled > span:focus,
.pagination > ul >.disabled > a,
.pagination > ul >.disabled > a:hover,
.pagination > ul >.disabled > a:focus {
  color: #999;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

/* microposts */

.posts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $gray-light;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}