@import "bootstrap";

/* mixins, variables, etc. */
$grayLighter: #eee;
$gray-medium-light: #eaeaea;
$gray-light-light: #f0f0f0;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  padding-bottom: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* main page */

.gallery {
  text-align: center;

  a{
    font-size: 0;
  }

  figure {
    width: 440px;
    height: 440px;
    line-height: 400px;
    margin: 20px 20px 20px 20px;
    background: transparent;
    border: 20px solid transparent;
    display: inline-block;
    text-align: center;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 0 10px #222; 
    -moz-box-shadow: 0 0 10px #222;
    -o-box-shadow: 0 0 10px #222;
    box-shadow: 0 0 10px #222;

    -webkit-transition: all 0.25s ease; 
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
}

figure:hover {
  -webkit-box-shadow: 0 0 10px black; 
  -moz-box-shadow: 0 0 10px black;
  -o-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}

figure:focus {
  -webkit-box-shadow: 0 0 10px black;
  -moz-box-shadow: 0 0 10px black;
  -o-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  padding-left: 0px;
  text-align: left;
  margin: auto;
  font-size: 1.7em;
  color: $gray-light-light;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.rsslogo {
  display: inline-block;
  max-height:20px; 
  max-width:20px; 
  fill: $gray-light-light;
  &:hover {
    fill: white;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover{
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px ;
    border-top: 1px solid $grayLighter;

    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}
