<footer class="footer">
  <small>
    <a href="https://github.com/duckness/orbital-team-L">Github page</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", "https://duckness.github.io/orbital-team-L/" %> </li>
    </ul>
  </nav>
</footer>
